html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: 5px solid blue;
  background-color: black;
}

.square {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: green;
}

.apple {
  background-color: red;
}
